body {
  
  background-color:rgb(249, 248, 248); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#title {
  font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 90px;
  font-weight: bold ;
  color: #333; 
  margin-bottom: 40px;
  text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
  -webkit-text-stroke-width: 3px;
  -webkit-text-fill-color:darkgray;
  border-radius: 30px;
}

#list-button {
  font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #7d7c7c;
  border: 3px solid #232121; 
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 23px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#play-button {
width: 150px;
height: 50px;
background-color: rgb(205, 201, 201); 
border: 3px solid #232121; 
border-radius: 27px; 
font-family: monospace; 
font-weight: bold;
padding: 5px 10px;
font-size: 25px; 
color: #313030; 
text-align: center; 
display: flex; 
justify-content: center; 
align-items: center; 
cursor: pointer;
}


#list-button:hover, #play-button:hover {
  background-color: rgb(84, 83, 83); 
  color: #fff;
}


body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  z-index: -1;
}

body::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-image: radial-gradient(farthest-corner at 50% 50%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  border-radius: 50%;
  z-index: -1;
}
#JOGO{
  background-color: wheat;

}
#VIDAS {
  color: darkcyan;
  font-family: Arial, Helvetica, sans-serif;
}
#LETRAS{
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
}
#LETRASN{
  color: peru;
  font-family: Arial, Helvetica, sans-serif;
}
#PALAVRAS{
  color: darkgreen;
  font-family: Arial, Helvetica, sans-serif;
}
#ACERTOU{
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}
#PERDA{
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

