{% load static %}

<html lang="pt-br">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TERMO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="css" href="{% static 'polls/static/styles.css' %}">
    
  </head>

  <body id="JOGO">
    
    <center><a class="btn btn-dark  btn-lg mb-4" role="button">TERMO</a></center>
{% comment %} <p>Palavra: {{palavra}}</p>  {% endcomment %}
<h1 id="VIDAS">VIDAS: {{vidas}}</h1>
<h1 id="LETRAS">LETRAS EXISTENTES: {{letras_possiveis}}</h1>
<h1 id="LETRASN">LETRAS NÃO EXISTENTES: {{letras_erradas}}</h1> 
<h1 id="PALAVRA">PALAVRA: {{palavraTermo}}</h1>


  {% if acertou %}
    <h1 id="ACERTOU">ACERTOU!</h1>
    <a class="btn btn-success" href="http://127.0.0.1:8000/jogo/" role="button">RECOMEÇAR</a>

  {% elif  perdeu %}
    <h1 id="PERDA">VOCE PERDEU!  </h1>
    <h1>PALAVRA CORRETA: {{ palavra }}</h1>
    <a class="btn btn-success" href="http://127.0.0.1:8000/jogo/" role="button">RECOMEÇAR</a>
  
  {% else %}
  <form method="post">

    {% csrf_token %}
    <label for="resposta">Digite a Palavra: </label>
    <input type="text" name="resposta" id="resposta" minlength ="5" maxlength="5" required autocomplete="off">

    <input type="hidden" name="vidas" id="vidas" value="{{vidas}}">



    <button type="submit">Enviar</button>


  </form>
  {% endif %}

  </body>