{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lobby</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <h1 id="title">TERMO</h1>
    <a id="list-button" href="http://127.0.0.1:8000/palavras/" role="button">Ver Lista De Palavras</a>
    <a id="play-button" href="http://127.0.0.1:8000/jogo/" role="button">BORA JOGAR</a>
  </body>
</html>